extends ../layout.jade
block content
    #Content.col-lg-6.col-lg-offset-3.centered
        form.form-horizontal
            fieldset
                legend Buscar Mundo:
                .form-group.form-horizontal
                        .col-lg-10
                    .form-group
                        label.col-lg-2.control-label(for='idMision') Buscar por Id:
                        .col-lg-10
                            input.form-control(type='text' name='idMundo' placeholder='Ingresa id' onkeypress='return numbersonly()')
                    .form-group       
                        label.col-lg-2.control-label(for='idMundo') Buscar por Nombre:
                        .col-lg-10    
                            input.form-control(type='text' name='idMundo' placeholder='Ingresa nombre del mundo')
                    .form-group.col-lg-10.col-lg-offset-2
                        button.btn.btn-default(style='margin-right:5px') Cancelar
                        button.btn.btn-primary(type='submit') Buscar
        form.form-horizontal.centered(style='display:none')
            fieldset
                legend Modificar datos:
                .form-group
                    label.col-lg-2.control-label(for='idIMundo') Id Mundo: 
                    .col-lg-10
                        input.form-control(type='text', name='inputId' onkeypress='return numbersonly()' disabled='')
                .form-group
                    label.col-lg-2.control-label(for='inputNombre') Nombre Mundo:
                    .col-lg-10
                        input.form-control(type='text', name='inputNombre' placeholder='Nombre del mundo')
                .form-group
                    label.col-lg-2.control-label(for='Nivel') Nivel: 
                    .col-lg-10
                        input.form-control(type='text', name='inputNivel' placeholder='Nivel')
                .form-group
                    label.col-lg-2.control-label(for='Capacidad') Capacidad Maxima: 
                    .col-lg-10
                        input.form-control(type='text', name='inputCapacidad' placeholder='Capacidad Maxima')

                    button.btn.btn-default(style='margin-right:5px') Cancelar
                    button.btn.btn-primary(type="submit") Guardar