extends ../layout.jade
block content
    #Content.col-lg-6.col-lg-offset-3.centered
        form.form-horizontal
            fieldset
                legend Borrar Item:
                .form-group.form-horizontal
                        .col-lg-10
                    .form-group
                        label.col-lg-2.control-label(for='idItem') Buscar por Id:
                        .col-lg-10
                            input.form-control(type='text' name='idItem' placeholder='Ingresa id' onkeypress='return numbersonly()')
                    .form-group       
                        label.col-lg-2.control-label(for='idItem') Buscar por Nombre:
                        .col-lg-10    
                            input.form-control(type='text' name='idItem' placeholder='Ingresa nombre')
                    .form-group.col-lg-10.col-lg-offset-2
                        button.btn.btn-default(style='margin-right:5px') Cancelar
                        button.btn.btn-primary(type='submit') Borrar