extends ../layout.jade

block content
	form.form-horizontal.col-lg-6
		fieldset
			legend Agregar nuevo item:
			.form-group
				label.col-lg-2.control-label(for='idItem') Id: 
				.col-lg-10
					input#disabledInput.form-control(type='text' name='inputEmail' onkeypress='return numbersonly()',disabled='')
			.form-group
				label.col-lg-2.control-label(for='inputPassword') Nombre item:
				.col-lg-10
					input#inputPassword.form-control(type='text', placeholder='Password')
			.form-group
				label.col-lg-2.control-label(for='valor') Valor: 
				.col-lg-10
					input#inputPassword.form-control(type='text', placeholder='Password')
			.form-group
				label.col-lg-2.control-label(for='valor') Sanacion: 
				.col-lg-10
					input#inputPassword.form-control(type='text', placeholder='Ingresa lo que puede sanar')			