extends ../layout.jade
block content
	#Content.col-lg-6.col-lg-offset-3.centered
		form.form-horizontal
			fieldset
				legend Agregar nuevo item:
				.form-group
					label.col-lg-2.control-label(for='idItem') Id: 
					.col-lg-10
						input.form-control(type='text', name='inputId' onkeypress='return numbersonly()' disabled='')
				.form-group
					label.col-lg-2.control-label(for='nombreItem') Nombre:
					.col-lg-10
						input.form-control(type='text', name='inputNombre' placeholder='Nombre del Item')
				.form-group
					label.col-lg-2.control-label(for='rarezaItem') Rareza: 
					.col-lg-10
						input.form-control(type='text', name='inputRareza' placeholder='Rareza')
				.form-group
					label.col-lg-2.control-label(for='sanarItem') Sanacion: 
					.col-lg-10
						input.form-control(type='text', name='inputSana' placeholder='Ingresa el valor de sanación')
				.form-group
					label.col-lg-2.control-label(for='valorItem', placeholder='Valor del Item') Valor:
					.col-lg-10
						input.form-control(type='text', name='inputValor' placeholder='Ingresa el valor del Item')
				.form-group
					label.col-lg-2.control-label(for='dañoItem', placeholder='Daño del Item') Daño:
					.col-lg-10
						input.form-control(type='text', name='inputDaño' placeholder='Ingresa el daño')
				.form-group
					label.col-lg-2.control-label(for='tipoItem' placeholder='Tipo del Item') Tipo:
					.col-lg-10
						input.form-control(type='text', name='inputTipo' placeholder='Ingresa el tipo')
				.form-group
					label.col-lg-2.control-label(for='maxItem', placeholder='Maximo del Item') Maximo:
					.col-lg-10
						input.form-control(type='text', name='inputMax' placeholder='Ingresa el maximo')
				.form-group
					label.col-lg-2.control-label(for='descItem', placeholder='Descripcion del Item') Descripcion:
					.col-lg-10
						input.form-control(type='text', name='inputDesc' placeholder='Ingresa la descripcion')
				.form-group.col-lg-10.col-lg-offset-2
					button.btn.btn-default(style='margin-right:5px') Cancelar
					button.btn.btn-primary(type='submit') Guardar
>>>>>>> d18e6aff061cf554f9a3b7d89f379b57b76a3add
