extends layout

block content
  div.alert.alert-dismissable.alert-info 
    button.close(type='button', data-dismiss='alert') ×
    strong Ok! Entraste a administrar
    | pero tengo algo que decirte
    a.alert-link(href='#') no tengo nada que poner en el inicio, para eso estan los botones :D
    | .
