extends layout

block content
    div#Barra1
        a#npc(href="/admin/npc") NPC
        a#mision(href="/admin/mision") MISIONES
    div#Barra2
        a#users(href="/admin/users") USUARIOS
        a#mundo(href="/admin/mundo") MUNDO
    div#barra3 
        a#items(href="/admin/items") ITEMS
        
