extends layout 
block content 
    h3  Administracion para crear objetos 
    ul
        li
            a(href='/admin/item/nuevo') Nueva 
        li
            a(href='/admin/item/modificar') Modificar 
        li 
            a(href='/admin/item/borrar') Borrar 
        li 
            a(href='/admin/item/buscar') Buscar 
