extends layout 
block content 
    #content.col-lg-6.col-lg-offset-3.centered
        form.form-horizontal
            fieldset
                legend Administración de Items
                ul.nav
                    li
                        a(href='/admin/item/nuevo') Nuevo
                    li
                        a(href='/admin/item/modificar') Modificar 
                    li 
                        a(href='/admin/item/borrar') Borrar 
