extends layout 
block content 
    h3 Misiones
    ul
        li
            a(href='/admin/mision/nuevo') Nueva 
        li
            a(href='/admin/mision/modificar') Modificar 
        li 
            a(href='/admin/mision/borrar') Borrar 
        li 
            a(href='/admin/mision/buscar') Buscar 
