extends layout 
block content 
    h3 Misiones
    ul
        li
            a(href='/admin/npc/nuevo') Nueva 
        li
            a(href='') Modificar 
        li 
            a(href='') Borrar 
        li 
            a(href='') Buscar 
