extends layout 
block content 
    #content.col-lg-6.col-lg-offset-3.centered
        form.form-horizontal
            fieldset
                legend Administración de Misiones
                ul.nav
                    li
                        a(href='/admin/mision/nuevo') Nueva 
                    li
                        a(href='/admin/mision/modificar') Modificar 
                    li 
                        a(href='/admin/mision/borrar') Borrar 
