extends layout 
block content 
    h3 Administracion de mundos 
    ul
        li
            a(href='/admin/mundo/nuevo') Nueva 
        li
            a(href='/admin/mundo/modificar') Modificar 
        li 
            a(href='/admin/mundo/borrar') Borrar 
        li 
            a(href='/admin/mundo/buscar') Buscar 
