extends layout 
block content 
    #content.col-lg-6.col-lg-offset-3.centered
        form.form-horizontal
            fieldset
                legend Administración de Mundos 
                ul.nav
                    li
                        a(href='/admin/mundo/nuevo') Nueva 
                    li
                        a(href='/admin/mundo/modificar') Modificar 
                    li 
                        a(href='/admin/mundo/borrar') Borrar 