extends layout 
block content 
    h3 Creacion de personajes no jugadores
    ul
        li
            a(href='/admin/npc/nuevo') Nueva 
        li
            a(href='/admin/npc/modificar') Modificar 
        li 
            a(href='/admin/npc/borrar') Borrar 
        li 
            a(href='/admin/npc/buscar') Buscar 
