extends layout
    block content
        ul
            li 
                a(href="/admin/agregarNPC") Agregar NPC
            li
                a(href="/admin/modNPC") Modificar NPc
            li
                a(href="/admin/delNPC") Eliminar NPC
            li
                a(href="/admin/busNPC") Buscar NPC
             
