extends ../layout.jade

block content
	#Content.col-lg-6.col-lg-offset-3.centered
		form.form-horizontal
			fieldset
				legend Agregar nuevo Npc:
				.form-group
					label.col-lg-2.control-label(for='idNpc') Id: 
					.col-lg-10
						input.form-control(type='text', name='inputId' onkeypress='return numbersonly()' disabled='')
				.form-group
					label.col-lg-2.control-label(for='nombreN') nombreN:
					.col-lg-10
						input.form-control(type='text', name='inputNombre' placeholder='Nombre del Npc')
				.form-group
					label.col-lg-2.control-label(for='vida') Vida: 
					.col-lg-10
						input.form-control(type='text', name='inputVida' placeholder='vida')
				.form-group
					label.col-lg-2.control-label(for='danoN') Dano: 
					.col-lg-10
						input.form-control(type='text', name='inputDanoN' placeholder='Ingresa el valor del dano')
				.form-group
					label.col-lg-2.control-label(for='lvl', placeholder='Nivel') Nivel:
					.col-lg-10
						input.form-control(type='text', name='inputlvl' placeholder='Ingresa el nivel')
				.form-group
					label.col-lg-2.control-label(for='idMundo', placeholder='idMundo') IdMundo:
					.col-lg-10
						input.form-control(type='text', name='inputidMundo' placeholder='Ingresa id del mundo')
				.form-group
					label.col-lg-2.control-label(for='clase' placeholder='Clase del npc') Tipo:
					.col-lg-10
						input.form-control(type='text', name='inputClase' placeholder='Ingresa la clase de npc')
				.form-group
					label.col-lg-2.control-label(for='idItem', placeholder='idItem') Maximo:
					.col-lg-10
						input.form-control(type='text', name='inputIdItem' placeholder='Ingresa el id de item')
				.form-group
					label.col-lg-2.control-label(for='dialogo', placeholder='Dialogo') Descripcion:
					.col-lg-10
						input.form-control(type='text', name='inputDialog' placeholder='Ingresa el dialogo')
				.form-group.col-lg-10.col-lg-offset-2
					button.btn.btn-default(style='margin-right:5px') Cancelar
					button.btn.btn-primary(type='submit') Guardar